form{
 max-width: 600px;
 border: none !important;
 margin: 0 auto;   
}


.contactBackground{
    min-height: 100vh;
    background-image: linear-gradient(#29323c, #485563);
}

label{
    color: white;
}

.h4{
    color: white;
}

.btn-outline-info {
    border: 2px solid white !important;
    background-color: transparent !important;
    color: white !important;
}


.btn-block{
    width: 200px;
    margin: 40px auto;
}

h5{
    color: white;
    
}
.instagramButton{
    margin: 30px auto;
}

#wrapper{
    padding: 10em auto 2em auto;
    margin: auto auto;
    text-align: center;
}