form{
 max-width: 500px;
 border: none !important;
 margin: 0 auto;   
 padding-bottom: 0;
}


.contactBackground{
    min-height: 100vh;
    background-color: #8FBCBB;
    padding-top: 50px;
}

label{
    color: white;
}

.h4{
    color: white;
}

.btn-outline-info {
    border: 2px solid white !important;
    background-color: transparent !important;
    color: white !important;
}


.btn-block{
    width: 200px;
    margin: 40px auto;
}

.instagramBtn{
    height: 40px;
    margin: 10px;
}

span{
    color: white;
    line-height: 40px;
    margin: 10px;
    font-size: 20px;
}

.p-5{
    padding: 3rem 0 0 0 !important;

}
