.view {
    background-image: url('https://s3.amazonaws.com/chc/images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  
  
